

<header id="header" class="full-header transparent-header semi-transparent dark header-size-sm">
    <div id="header-wrap">
        <div class="container">
            <div class="header-row">
                <div id="logo">
                    <a href="/" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="images/logo.png" alt="TechFlurry Logo"></a>
                    <a href="/" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="images/logo@2x.png" alt="TechFlurry Logo"></a>
                </div>
                @*<div class="header-misc">
                <div id="top-search" class="header-misc-icon">
                <a href="#" id="top-search-trigger"><i class="icon-line-search"></i><i class="icon-line-cross"></i></a>
                </div><!-- #top-search end -->
                <!-- Top Cart
                ============================================= -->
                <div id="top-cart" class="header-misc-icon d-none d-sm-block">
                <a href="#" id="top-cart-trigger"><i class="icon-line-bag"></i><span class="top-cart-number">5</span></a>
                <div class="top-cart-content">
                <div class="top-cart-title">
                <h4>Shopping Cart</h4>
                </div>
                <div class="top-cart-items">
                <div class="top-cart-item">
                <div class="top-cart-item-image">
                <a href="#"><img src="images/shop/small/1.jpg" alt="Blue Round-Neck Tshirt" /></a>
                </div>
                <div class="top-cart-item-desc">
                <div class="top-cart-item-desc-title">
                <a href="#">Blue Round-Neck Tshirt with a Button</a>
                <span class="top-cart-item-price d-block">$19.99</span>
                </div>
                <div class="top-cart-item-quantity">x 2</div>
                </div>
                </div>
                <div class="top-cart-item">
                <div class="top-cart-item-image">
                <a href="#"><img src="images/shop/small/6.jpg" alt="Light Blue Denim Dress" /></a>
                </div>
                <div class="top-cart-item-desc">
                <div class="top-cart-item-desc-title">
                <a href="#">Light Blue Denim Dress</a>
                <span class="top-cart-item-price d-block">$24.99</span>
                </div>
                <div class="top-cart-item-quantity">x 3</div>
                </div>
                </div>
                </div>
                <div class="top-cart-action">
                <span class="top-checkout-price">$114.95</span>
                <a href="#" class="button button-3d button-small m-0">View Cart</a>
                </div>
                </div>
                </div><!-- #top-cart end -->

                </div>
                *@
                <div id="primary-menu-trigger">
                    <svg class="svg-trigger" viewBox="0 0 100 100"><path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path><path d="m 30,50 h 40"></path><path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path></svg>
                </div>

                <!-- Primary Navigation
                ============================================= -->
                <nav class="primary-menu">
                    <ul class="menu-container">
                        <li class="menu-item">
                            <a class="menu-link" href="/"><div>Home</div><span>Our Introduction</span></a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="javascript:void()"><div>Services</div><span>What we Do?</span></a>
                            <ul class="sub-menu-container">
                                <li class="menu-item">
                                    <a class="menu-link" href="/Services/CustomSoftwareDevelopment"><div><i class="icon-stack"></i>Custom Software Development</div></a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" href="/Services/ProductDevelopment"><div><i class="icon-stack"></i>Product Development</div></a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" href="/Services/MobileAppDevelopment"><div><i class="icon-stack"></i>Mobile Application Development</div></a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" href="/Services/WordpressDevelopment"><div><i class="icon-stack"></i>Wordpress Development</div></a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" href="/Services/DMM"><div><i class="icon-stack"></i>Digital Media Marketing</div></a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" href="/Services/DedicatedResources"><div><i class="icon-stack"></i>Dedicated Resources</div></a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="/Portfolio"><div>Portfolio</div><span>Our Work</span></a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="/Blogs"><div>Blog</div><span>Latest Articles</span></a>
                        </li>
                    </ul>

                </nav><!-- #primary-menu end -->
                @*<form class="top-search-form" action="search.html" method="get">
                <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter.." autocomplete="off">
                </form>*@

            </div>
        </div>
    </div>
    <div class="header-wrap-clone"></div>
</header><!-- #header end -->
@code {

}
