
<div id="logo">
    <a href="/" class="standard-logo" data-dark-logo="custom-files/logos/main_logo.jpg"><img src="custom-files/logos/main_logo.jpg" alt="TechFlurry Logo"></a>
    <a href="/" class="retina-logo" data-dark-logo="custom-files/logos/main_logo.jpg"><img src="custom-files/logos/main_logo.jpg" alt="TechFlurry Logo"></a>
</div>


@code {

}
