@inject IJSRuntime JSRuntime


<section id="slider" class="slider-element slider-parallax min-vh-60 min-vh-md-100 with-header swiper_wrapper" data-autoplay="5000" data-speed="650" data-loop="true">
    <div class="slider-inner">
        <div class="swiper-container swiper-parent">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="container">
                        <div class="slider-caption">
                            <h2 class="brand-primary" data-animate="fadeInUp" style="color: #290959">Your Vision, Our Solution</h2>
                            <p class="d-none d-sm-block brand-secondary" style="color: #990000" data-animate="fadeInUp" data-delay="200">Lorem ipsum dolor sit amet skugent sakasep yutne yuneeitm git storm gcxe</p>
                        </div>
                    </div>
                    <div class="swiper-slide-bg" style="background-image: url('custom-files/images/hero-image1.png');"></div>
                </div>
                <div class="swiper-slide dark">
                    <div class="container">
                        <div class="slider-caption slider-caption-center">
                            <h2 data-animate="fadeInUp">Most Competent Teams</h2>
                            <p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="400">Lorem ipsum dolor sit amet skugent sakasep yutne yuneeitm git storm gcxe.</p>
                        </div>
                    </div>
                    <div class="video-wrap">
                        <video poster="custom-files/videos/it-company2_banner.png" preload="auto" loop autoplay muted>
                            <source src='custom-files/videos/it-company2.mp4' type='video/mp4' />
                            <source src='custom-files/videos/it-company2.webm' type='video/webm' />
                        </video>
                        <div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="container">
                        <div class="slider-caption slider-caption-right">
                            <h2 data-animate="fadeInUp" style="color: #990000">We Assure the Quality</h2>
                            <p class="d-none d-sm-block" style="color: #290959" data-animate="fadeInUp" data-delay="200">Lorem ipsum dolor sit amet skugent sakasep yutne yuneeitm git storm gcxe.</p>
                        </div>
                    </div>
                    <div class="swiper-slide-bg" style="background-image: url('custom-files/images/hero-image2.png'); background-position: center top;"></div>
                </div>
            </div>
            <div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
            <div class="slider-arrow-right"><i class="icon-angle-right"></i></div>
            <div class="slide-number"><div class="slide-number-current"></div><span>/</span><div class="slide-number-total"></div></div>
        </div>

    </div>
</section>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            JSRuntime.InvokeVoidAsync("initSlider");
        }
    }

    protected  async override Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initSlider");
        }
    }
}
