
<section id="page-title">
    <div class="container clearfix">
        <h1>Services</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/" data-href="#home">Home</a></li>
            <li class="breadcrumb-item"><a href="/" data-href="#section-services">Services</a></li>
            <li class="breadcrumb-item active" aria-current="page">@PageName</li>
        </ol>
    </div>
</section>

@code {
    [Parameter]
    public string PageName { get; set; }
}
