@page "/Services/MobileAppDevelopment"

<_PageTitle PageName="Mobile Application Development"></_PageTitle>
<PageTitle>Mobile Application Development - TechFlurry | Software Services Company</PageTitle>


<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div class="row">
                <div class="col-lg-8 portfolio-single-image">
                    <a href="#"><img src="images/portfolio/single/10.jpg" alt="Image"></a>
                </div>
                <div class="col-lg-4 portfolio-single-content">
                    <div class="fancy-title title-bottom-border">
                        <h2>Included in Service:</h2>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, dolores, facere, corrupti delectus ex quidem adipisci tempore.</p>
                    <p>Illum molestias cupiditate eveniet dolore obcaecati voluptatibus est quos eos id recusandae officia. Cupiditate, voluptates quibusdam ipsum vel corporis laboriosam id est doloremque?</p>
                    
                    <!-- Portfolio Single - Share
                    ============================================= -->
                    <div class="si-share d-flex justify-content-between align-items-center mt-4">
                        <span>Share:</span>
                        <div>
                            <a href="@Constants.FACEBOOK_ADDRESS" class="social-icon si-borderless si-facebook">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>
                            <a href="#" class="social-icon si-borderless si-twitter">
                                <i class="icon-twitter"></i>
                                <i class="icon-twitter"></i>
                            </a>
                            <a href="#" class="social-icon si-borderless si-email3">
                                <i class="icon-email3"></i>
                                <i class="icon-email3"></i>
                            </a>
                        </div>
                    </div>
                    <!-- Portfolio Single - Share End -->

                </div><!-- .portfolio-single-content end -->

            </div>

            <div class="divider divider-center"><i class="icon-circle"></i></div>

        </div>
    </div>
</section>

@code {

}
